<%= link_to '< назад', 'javascript:history.go(-1);' %>

<%= link_to 'следующая >', Boat.find(@boat.id + 1) if Boat.exists?(@boat.id + 1) %>

<h1><%= @boat.name %></h1>

<div class="row">
	<div class="col-md-4">
		<% if @boat.avatar.exists? %>
			<%= image_tag @boat.avatar.url(:medium), class: "boat-avatar" %>
		<% else %>
			<%= form_for @boat, :html => { multipart: true } do |f| %>
				<%= f.file_field :avatar %>
				<%= f.submit "Upload" %>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-4">
		<p>
			Здесь будут пиктограммы картинок интерьера яхты
		</p>
	</div>
	<div class="col-md-4 boat-services">
		<p><span class="mini-header">Вместимость:</span> <%= @boat.capacity %> человек</p>
		<p><span class="mini-header">Услуги:</span>
		<ul class="boat-services">
			<li>Прогулки: $200 в час</li>
			<li>Рыбалка: $100 в час</li>
			<li>Торжества: от $1200 за вечер</li>
		</ul></p>
	</div>
</div>
<br />
<div class="row">	
	<div class="col-md-8">
		<h3>Описание судна</h3>
		<p><%= @boat.about %></p>
	</div>
	<div class="col-md-4 mariner">
		<h3>Судоводитель</h3>
		<% if @mariner.avatar.exists? %>
			<%= image_tag @mariner.avatar.url(:medium) %>
		<% end %>
		<br /><br />
		<p>
			<%= @mariner.name %>
		</p>
		<p>
			<%= @mariner.birthdate %> г.р.
		</p>
		<p>
			<%= @mariner.selfinfo %>
		</p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-3 col-md-offset-2">
		<%= link_to "Забронировать", "#", class: "btn btn-primary", type: "button" %>
	</div>
	<div class="col-md-3 col-md-offset-2">
		<a href="#" type="button" class="btn btn-default">Связаться</a>
	</div>
</div>