<%= link_to '< назад', 'javascript:history.go(-1);' %>

<%= link_to 'следующая >', Boat.find(@boat.id + 1) if Boat.exists?(@boat.id + 1) %>

<h1><%= @boat.name %></h1>

<div class="row">
	<div class="col-xs-6">
		<% if @boat.avatar.exists? %>
			<%= image_tag @boat.avatar.url(:medium) %>
		<% else %>
			<%= form_for @boat, :html => { multipart: true } do |f| %>
				<%= f.file_field :avatar %>
				<%= f.submit "Upload" %>
			<% end %>
		<% end %>
	</div>
	<div class="col-xs-3">
		<span class="mini-header">Capacity:</span> <%= @boat.capacity %> persons
	</div>
	<div class="col-xs-3">
		<span class="mini-header">Services:</span>
		<ul class="boat-services">
			<li>Walking: $200 per hour</li>
			<li>Fishing: $100 per hour</li>
			<li>Celebrating: $1200 per night</li>
		</ul>
	</div>
	
</div>