<!DOCTYPE html>
<html>
  <head>
    <title>Taxsea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://allfont.ru/allfont.css?fonts=franklin-gothic-medium-cond" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="<%= asset_path('site.ico') %>">

  <body>
    <div class="container nav-container">  
      <nav>
        <ul class="nav nav-pills"> 
          <li>      
            <a href="<%= home_path %>"> 
              <img alt="Brand" height="70px" src="<%= asset_path('logo.jpg') %>">
            </a>
          </li>
          <li style="float: right;color:#333333" class="dropdown">
              <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
              </button>
            
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item"><%= link_to "Home", home_path %></li>
                <li class="dropdown-item"><%= link_to "Help", help_path %></li>
                <li class="dropdown-item"><%= link_to "About", about_path %></li>
              </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <%= yield %>
    </div>


  </body>
</html>
